{{#if model.total}}
<div class="row">
    <div class="col-sm-6">
        <div class="dataTables_info" role="status" aria-live="polite">
            Showing {{from}} to {{to}} of {{model.total}} entries
        </div>
    </div>

    <div class="col-sm-6">
        {{#if model.total}}
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {{#each pages as |page|}}
                    <li tabindex="0"
                        class="paginate_button {{page.className}}">
                        <a href="javascript:;" {{action "paginate" page.number}}>{{page.label}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
</div>
{{/if}}